<div class="mb-3">
	<div class="input-group mb-1">
		<label class="input-group-text bg-white">{{ label }}</label>
		<select class="form-select form-select-sm" disabled>
			<option>{{ value }}</option>
		</select>
	</div>
	<div class="small text-muted">{{ help }}</div>
</div>
