{% extends 'base.html.twig' %}

{% block title %}New Survey{% endblock %}

{% block body %}
    <div class="container mx-auto" style="max-width:550px;">
        <a href="{{ path('app_user_show') }}" class="btn btn-outline-secondary mb-3">
            Назад </a>
        <h3 class="mb-2 text-center">Создать новый опрос</h3>

        {{ include('survey/_form.html.twig') }}
    </div>
{% endblock %}
