<form method="post" action="{{ path('app_bot_delete', {'id': bot.id}) }}" onsubmit="return confirm('Are you sure you want to delete this item?');">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ bot.id) }}">
    <button class="btn">Delete</button>
</form>
