{% extends 'base.html.twig' %}

{% block title %}Настройка доступов пользователей{% endblock %}

{% block javascripts %}
	{{ encore_entry_script_tags('vueApp') }}
{% endblock %}

{% block stylesheets %}
	{{ encore_entry_link_tags('vueApp') }}
{% endblock %}

{% block body %}
	<div {{ vue_component('UserAccessesEdit', {
        'entityData': entityData,
        'typesCatalogs': typesCatalogs,
    } ) }}></div>
{% endblock %}