{% extends 'base.html.twig' %}

{% block title %}Survey index{% endblock %}

{% block body %}
    <div class="contain-fluid h-100 d-flex flex-row">
        {{ include('personal_account_menu.html.twig', {is_active: 'surveys'}) }}

        <div class="d-flex flex-column p-3">
            {% for survey in surveys %}
                <div class="container-fluid mb-3">
                    <div class="card">
                        <div class="card-header d-flex flex-row align-content-between">
                            <span class="text-black-50 ms-auto small">Бот: ##</span>
                        </div>
                        <div class="card-body">
                            <h5 class="card-title"> {{ survey.title }} </h5>
                            <p class="card-text"> {{ survey.description }} </p>
                            <a href="#" class="btn btn-sm btn-primary">Перейти</a>
                        </div>
                    </div>
                </div>
            {% else %}
                <h5>Нет доступных опросов</h5>
            {% endfor %}
        </div>
    </div>
{% endblock %}
